form {
    background-color: #213b50;
    color: #ffffff;
    width: 50%;
    padding: 15px;
}
select, textarea, input{
    background-color: #2b4a64;
    margin-bottom: 10px;
    border: 1px solid #2b4a64;
    width: 50%;
    padding: 5px;
    color: #ffffff;
}
select:focus, textarea:focus, input:focus{
    background-color: #4e788c;
    border: 1px solid white;
}
label{
    display: block;
}
label[for*="ale"], label[for*="agre"]{
    display: inline;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
input[type="submit"]{
    background-color: #1ac056;
    color: white;
    width: auto;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
}